body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

/* Transparent background */
yt-live-chat-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-author-chip #author-name{
  background: transparent !important;
}


/* Hide scrollbar */
yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-membership-item-renderer #content {
  overflow: visible !important;
}

/* Hide header and input */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer,
yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted],
yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}


yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
  text-decoration: none !important;
}

/* Avatars */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-text-message-renderer #author-photo img,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo img,
yt-live-chat-membership-item-renderer #author-photo,
yt-live-chat-membership-item-renderer #author-photo img {
  display: none !important;
}


/*costum*/

yt-live-chat-ticker-renderer {
  display: none;
}
* {
  font-size:20px;
}

yt-live-chat-text-message-renderer {
  padding: 0;
}

#content.yt-live-chat-text-message-renderer {
  line-height: 1.6em;
  position: relative;
  padding: 0.1em 0.5em 0.1em 2em;
  margin-bottom: 0.5em; 
  max-width: 25em;
  background-color: rgba(255,255,255,.4);
  color: #000;
  text-shadow:none;
}

#content.yt-live-chat-text-message-renderer::before {
  content: ' ';
  width: 5px;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  border-left: 8px solid black;
  border-right: 2px solid black;
}

yt-live-chat-author-chip.yt-live-chat-text-message-renderer::before {
  content: '■';
  position: absolute;
  left: 1.2em;
  top: 0px;
  color: #000;
  font-size:18px;
}

#author-name.yt-live-chat-author-chip {
  color: #333;
  font-family: "TsangerYuYangT", sans-serif;
  font-weight:400;
  text-shadow: 0px 0px 7px #fff;
  font-size:20px;
  display: inline;
}

#author-name.yt-live-chat-author-chip::after {
  content: ':';
}

#card #author-name.yt-live-chat-author-chip::after {
  content: none;
}

#message.yt-live-chat-text-message-renderer {
  color: inherit;
  font-family: "TsangerMingKai", sans-serif;
  font-weight:400;
  font-size:20px;
}
#author-name.yt-live-chat-author-chip {
  text-shadow: 0px 0px 7px #fff;
}
#author-name.yt-live-chat-author-chip[type=owner], yt-live-chat-author-chip[is-highlighted] #author-name.yt-live-chat-author-chip[type=owner] {
  background: transparent;
  color: #9169b5;
}

#author-name.yt-live-chat-author-chip[type=member] {
  color: #3a8ee6;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"], yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
  color: #d3700b !important;
}

/*card*/

yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer {
  padding: 0;
  margin-top: 0.5em;
}

yt-live-chat-paid-message-renderer+yt-live-chat-paid-message-renderer,
yt-live-chat-paid-message-renderer+yt-live-chat-membership-item-renderer,
yt-live-chat-membership-item-renderer+yt-live-chat-membership-item-renderer,
yt-live-chat-membership-item-renderer+yt-live-chat-paid-message-renderer {
  margin-top: 0;
}


#card.yt-live-chat-membership-item-renderer {
  border-radius: 0;
}

yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer {
  background: rgba(255,255,255,.5);
  padding: 8px 2em;
  margin-bottom: 1em; 
  position: relative;
  border-radius: 0 1em 1em 0;
  border-top: 1px solid rgba(255,255,255,.7);
  box-shadow: 2px 3px 5px rgb(0,0,0,.3);
}

yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer::before {
  content: ' ';
  width: 5px;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  border-left: 8px solid black;
  border-right: 2px solid black;
}

#header-subtext.yt-live-chat-membership-item-renderer {
  color: #4a4a4a
}

#header-subtext.yt-live-chat-membership-item-renderer::before,
#author-name.yt-live-chat-paid-message-renderer::before,
#header-subtext.yt-live-chat-membership-item-renderer::after,
#author-name.yt-live-chat-paid-message-renderer::after {
  content: ' + ';
}

/* SC */

#card.yt-live-chat-paid-message-renderer {
  border-radius: 0;
  margin-bottom: 1em;
  box-shadow: 2px 3px 5px rgb(0,0,0,.3);
  padding-bottom: 0;
}
#header.yt-live-chat-paid-message-renderer {
  border-radius:0;
  background-color: #000;
  color: #fff;
  padding: 8px 23px;
}

#author-name.yt-live-chat-paid-message-renderer {
  color: #ccc;
}

#content.yt-live-chat-paid-message-renderer {
  background: rgba(255,255,255,.5);
  border: 3px solid #000;
  border-top: 0;
  border-radius: 0;
}

#content.yt-live-chat-paid-message-renderer {
  color: #333;
  font-family: "TsangerMingKai", sans-serif;
}

yt-live-chat-paid-message-renderer[show-only-header] #header.yt-live-chat-paid-message-renderer {
  border-radius: 0;
  margin-bottom: 0;
}

yt-live-chat-paid-message-renderer[show-only-header] #content.yt-live-chat-paid-message-renderer {
  display: none;
}

/*ship*/


#content yt-live-chat-author-badge-renderer.style-scope.yt-live-chat-author-chip {
  display: none !important;
}
#card .yt-live-chat-author-badge-renderer,
#content yt-live-chat-author-badge-renderer.style-scope.yt-live-chat-author-chip:last-child {
  display: block !important;
}
#card yt-live-chat-author-badge-renderer.yt-live-chat-author-chip {
  position:absolute;
  top: 6px;
  right: 8px;
}
#card img.yt-live-chat-author-badge-renderer {
  width: 46px;
  height: 46px;
}

#content yt-live-chat-author-badge-renderer.yt-live-chat-author-chip {
  position:absolute;
  bottom: -10px;
  right: -5px;
}
#content yt-live-chat-author-badge-renderer.style-scope.yt-live-chat-author-chip {
  margin-bottom: -0.5em;
  clip-path: polygon(0 0, 94% 0, 94% 78%, 0 78%);
  z-index:-1;
}
#content img.yt-live-chat-author-badge-renderer {
  width: 90px;
  height: 90px;
  opacity: .5;
  transform: rotate(-15deg);
  clip-path: margin-box;
  filter: grayscale(30%);
}

#content .el-tooltip.style-scope.yt-live-chat-author-badge-renderer svg {
  display: none !important;
}